<div class="overlay hidden">
  <div class="image-loader">
    <h2>Loading...</h2>
    <%= image_tag "https://s-media-cache-ak0.pinimg.com/736x/4b/f7/17/4bf7175aa7702faa742401c80e13c69d.jpg" %>
  </div>
</div>
