<h1>This page is about context</h1>

<p>Contexty stuff here</p>

<button id='context-btn' class='btn btn-primary'>Look a button</button>


<p>iframe stuff goes here:</p>

<iframe src="/framer" id='framer'></iframe>

<br/>

<button class='btn' id='context-clicker'>Clicker</button>

<div id='context-div' style="display: none;">
  <p>This should toggle</p>
  <p>This whole thing should toggle</p>
  <p>All of it</p>
  <p>And when it is done</p>
  <p>The button above</p>
  <p>Should get a new class</p>
</div>
