<div class="container">
  <h2 class="hidden" id="crit-header">Critters:</h2>
  <ul id="gimmie_crit_list">
    <!-- crits go here -->
  </ul>
</div>


<button class="btn btn-primary" id="gimmie-crits-btn">Gimmie Crits</button>
