<h1>I'm on the modal holder page</h1>

<%= link_to 'gimme da modal', modal_innard_path, data: {toggle: 'modal', target: '#modal-holder'} %>


<div class="modal fade" id="modal-holder" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
 <!--        <div class="modal-body">
        </div>
        <div class="modal-footer">
        </div> -->
    </div>
  </div>
</div>
