<div class="paver-holder container">
  <h2>Paver Page</h2>

  <div class="inner-paver col-md-4">
    <h3>Inner Paver1</h3>
  </div>
  <div class="inner-paver col-md-4">
    <h3>Inner Paver2</h3>
  </div>
  <div class="inner-paver col-md-4">
    <h3>Inner Paver3</h3>
  </div>

  <div class="inner-paver2 col-md-6">
    <h3>Inner Paver4</h3>
  </div>
  <div class="inner-paver2 col-md-6">
    <h3>Inner Paver5</h3>
  </div>

  <div class="inner-paver3 col-md-3">
    <h3>Inner Paver6</h3>
  </div>
  <div class="inner-paver3 col-md-3">
    <h3>Inner Paver7</h3>
  </div>
  <div class="inner-paver3 col-md-3">
    <h3>Inner Paver8</h3>
  </div>
  <div class="inner-paver3 col-md-3">
    <h3>Inner Paver9</h3>
  </div>

  <div class="inner-paver col-md-12">
    <h3>Inner Paver10</h3>
    <button type='button' class="btn btn-primary btn-sm" id="inner-span10-btn">Inner Span10 Button</button>
  </div>

</div>
