<div class="container">
  </div><div class="yellow">
    <h1>Look at Mah Stylings</h1>
  </div>

  <h1>I'm a regular H1</h1>

  <div class='texter'>
    <ul>
      <li>tacos</li>
      <li>kitties</li>
      <li>ice cream</li>
    </ul>
  </div>

  <div class='photos'>
    <ul>
      <li><%= image_tag("sabbath-doog.jpg") %></li>
      <li><%= image_tag("internet.png") %></li>
      <li><%= image_tag("migrating.png") %></li>
    </ul>
  </div>
</div>
