<div class="container">

  <div class="orange">
    <div class="yellow">
      <h1>Look at Mah Stylings YO</h1>
    </div>
  </div>

  <h1>I'm a regular H1</h1>

  <div class="bg-image">
    <p>I'm some text in a p tag</p>
  </div>

  <div class='texter'>
    <ul>
      <li>cake</li>
      <li>kitties</li>
      <li>ice cream</li>
    </ul>
  </div>

  <div class='circular'>
    <p>Tacos</p>
  </div>

  <div class='photos'>
    <ul>
      <li><%= image_tag("sabbath-doog.jpg") %></li>
      <li><%= image_tag("internet.png") %></li>
      <li><%= image_tag("migrating.png") %></li>
    </ul>
  </div>
</div>
