<p class="hidden" id="notice"><%= notice %></p>
<p class="hidden" id="alert-msg"><%= alert %></p>

<h1>Listing Critters</h1>

<ul id="crit-list">
  <!-- when the page loads, for each critter
  append an <li> to this <ul> with critter info -->
</ul>

<%= render 'form' %>
<br>

<%= link_to 'New Critter', '#', class: 'btn btn-primary new-crit-btn' %>
