<p id="notice"><%= notice %></p>

<h1>Listing Critters</h1>

<ul id="crit-list">
  <!-- when the page loads, for each critter
  append an <li> to this <ul> with critter info -->
</ul>

<br>

<%= link_to 'New Critter', new_critter_path, class: 'btn btn-primary' %>
