.hidden {
  // display: none;
}

#acekitty {
  width: 70px;
  display: block;
  margin: 10px;
}

#mountain-img {
  display: block;
  margin: 10px;
}

#show-hide-mountain-btn {
  // display: block;
  margin: 10px;
}

.list-uno {
  li {
    border: 1px solid orange;
    width: 50%;
  }
}

.list-dos li {
  width: 60%;
  border: 1px solid grey;
}

.featured {
  background: yellow;
}
.nexter {
  background: blue;
}
.prever {
  background: pink;
}
