p#alert-msg {
  background: red;
  height: 50px;
  padding: 15px 5px 5px 20px;
  color: white;
  font-size: 14px;
}

h1#critter-header {
  display: inline;
}

#crit-form-modal {
  .modal-header {
    border-bottom: none;
    h2 {
      display: inline;
      color: #292f2f;
    }
  }
  .modal-content {
    min-height: 310px;
    width: 500px;
    margin: 0 auto;
    background-image: url(asset_path('cat-mountain.jpg'));
    .modal-body {
      min-height: 160px;
      overflow-y: scroll;
      border: none;
      .form-field-holder {
        margin-top: 35px;
        width: 40%;
        float: right;
        .field {
          margin-bottom: 10px;
        }
      }
      input[type=text] {
        color: #1c353c;
        font-size: 16px;
        font-weight: 500;
        background: #d7ddd3;
      }
      .collar-checkbox {
        label {
          font-size: 14px;
          color: white;
        }
      }
    }
  } //end modal body
  .modal-footer {
    border: none;
  }
}

.new-crit-btn {
  display: inline;
  float: right;
}

#critter-table {
  margin: 20px 0;
  border: 1px solid grey;
  th {
    background: #b3b1b1;
    border-bottom: 2px solid black;
  }
}

.overlay {
  background-color: rgba(1, 1, 1, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.image-loader {
  margin: 0 auto;
  z-index: 5;
  color: rgb(83, 171, 196);
  text-align: center;
}

// body {
//   background-color: #fff;
//   color: #333;
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px;
// }

// a {
//   color: #000;

//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }

// #notice {
//   color: green;
// }

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px;
//   padding-bottom: 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;

//   h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 5px 15px;
//     font-size: 12px;
//     margin: -7px;
//     margin-bottom: 0px;
//     background-color: #c00;
//     color: #fff;
//   }

//   ul li {
//     font-size: 12px;
//     list-style: square;
//   }
// }
